@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"); /*inserisce icone di bootstrap tramite CSS*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin-left: 3%;
    margin-right: 3%;
}

h3{
    padding: 0px 20px;
}
.logoNavbar{
    width: 11vh;
    align-items: start;
}

.userContainer{
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.6rem;
    }

.imgAvatar{
    width: 3vh;
}
.infoBar{
    color: white;
    display: flex;
    align-items: center;
    gap: 2rem;

}
.infoBar>select{
    font-size: 1.1em;
    background-color: black;
    border-radius: 5px;
}
.card {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: transform .5s;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 10;
  }

 /*Footer*/
  #footer {
    max-width: 1000px;
    margin-top: 10rem !important;
  }
  #footer .socials a {
    color: #ffffff70;
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  #footer .socials a:hover {
    color: #ffffff;
  }
  #footer div.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 1rem;
    margin-top: 2rem;
    padding-bottom: 2rem;
  }
  #footer div.item a {
    text-decoration: none;
    color: #ffffff70;
    font-size: 0.7rem;
  }
  #footer div.item a:hover {
    text-decoration: underline;
  }
  #footer button.service{
    background-color: #00000000;
    color: #ffffff70;
    border: #ffffff70 solid 1px;
    padding: 5px;
    margin-bottom: 2rem;
    border-radius: 2px;
  }
  #footer button.service:hover{
    background-color: #ffffff70;
    color: #000000;
    border: rgba(0, 0, 0, 0) solid 1px;
  }
  #footer p:last-of-type {
    font-size: 0.6rem;
    color: #ffffff70;
  }